body {
    font-family: Arial, sans-serif;
    background: #f2f7ff;
    padding: 40px;
}


.container {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


input[type="text"] {
    width: 95%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.subject-list label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 15px;
}


.subject-list input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}


.total-box {
    background: #e8f0ff;
    padding: 10px;
    font-size: 18px;
    margin: 15px 0;
    border-radius: 5px;
    font-weight: bold;
}


button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #0073ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}


.result-box {
    margin-top: 20px;
    background: #eefbea;
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #8fd19e;
    font-size: 16px;
    color: #245c2e;
}


.result-box h3 {
    margin-top: 0;
    color: #256c35;
}


.result-box ol {
    padding-left: 20px;
    margin-top: 5px;
}

.result-box li {
    margin: 3px 0;
}
